.venv/

.idea/
.vscode/

*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

.DS_Store
Thumbs.db
credentials.enc
node_modules/
.env

*.log
*.tmp


.cache/

*.env
*.venv

.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/static/css/tailwind.css

npm-debug.log*