<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body class="flex justify-center items-center h-screen bg-cover bg-no-repeat bg-center"
    style="background-image: url('/static/img/Shape.png'); font-family: 'Poppins', sans-serif;">

    <div class="bg-white p-5 sm:p-10 rounded-lg shadow-lg w-full max-w-sm text-center">
        <form method="post" action="{{ url_for('auth.authentication') }}">
            <h1 class="mb-2 text-gray-800 text-2xl">Login to Your Account</h1>
            {% if error %}
            <p class="text-[red] text-sm">{{ error }}</p>
            {% endif %}
            <div class="flex relative mb-5">
                <box-icon class="absolute top-4 left-2" name='user' color="#007bff"></box-icon>
                <input type="text" id="login" name="login" placeholder="login" required
                    class="w-full py-3 pl-10 border border-gray-300 rounded bg-gray-100 text-gray-800 text-lg outline-none transition-colors duration-300 focus:border-blue-500 placeholder:text-gray-400">
            </div>
            <div class="flex relative mb-5">
                <box-icon class="absolute top-4 left-2" name='lock-alt' color="#007bff"></box-icon>
                <input type="password" id="pass" name="pass" placeholder="Password" required
                    class="w-full py-3 pl-10 border border-gray-300 rounded bg-gray-100 text-gray-800 text-lg outline-none transition-colors duration-300 focus:border-blue-500 placeholder:text-gray-400">
            </div>
            <div class="options">
                <button
                    class="w-full py-3 rounded bg-blue-500 text-white text-lg cursor-pointer transition-colors duration-300 hover:bg-blue-700"
                    type="submit">Sign In</button>
            </div>
        </form>
    </div>
</body>

</html>