<h1 class="ndsth1 text-center text-2xl font-bold mb-8 text-[#2c3e50]">Uczniowie z oceną niedostateczną</h1>
{% for class_name, students in grouped_results.items() %}
<h2 class="text-xl mt-10 mb-5 pb-2 text-[#34495e]">Klasa {{ class_name }}</h2>
<div class="mb-10 overflow-x-auto">
    <table class="w-full table-fixed border-separate border-spacing-0 bg-white rounded-lg shadow-md mb-5">
        <thead>
            <tr class="bg-[#34495e] text-white font-semibold text-sm tracking-wider">
                <th class="w-1/6 px-4 py-3 text-left">Klasa</th>
                <th class="w-1/4 px-4 py-3 text-left">Nazwisko i imię</th>
                <th class="w-1/12 px-4 py-3 text-left">Nr</th>
                <th class="w-5/12 px-4 py-3 text-left">Przedmioty</th>
                <th class="w-1/12 px-4 py-3 text-left">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr class="even:bg-gray-100 hover:bg-gray-200">
                <td class="border-b border-gray-200 px-4 py-3 truncate">{{ student.number }}</td>
                <td class="border-b border-gray-200 px-4 py-3 font-bold truncate">{{ student.name }}</td>
                <td class="border-b border-gray-200 px-4 py-3">{{ student.student_id }}</td>
                <td class="border-b border-gray-200 px-4 py-3 truncate">{{ student.subject }}</td>
                <td class="border-b border-gray-200 px-4 py-3 font-bold">
                    {% if student.status == 'NK' %}
                    NK
                    {% elif student.status == 'Promoted' %}
                    KL
                    {% else %}
                    {{ student.status }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}